<div
  class="uk-background-cover uk-light uk-flex"
  uk-height-viewport
  style="background-image: url('<%=page.backgroundImage%>');"
>
  <h3 class="page-title uk-position-large uk-position-top-left uk-text-lowercase uk-visible@m"><%=page.title%></h3>
  <h3
    class="uk-position-medium uk-position-top-right uk-text-lowercase uk-position-fixed uk-hidden@m"
    style="margin: 24px;"
  >
    <%=page.title%>
  </h3>
  <img class="uk-width-1-3@s uk-position-medium uk-position-top-center uk-visible@m" src="../img/inline_logo.png" />
  <div class="uk-position-large uk-position-bottom-right uk-visible@m">
    <!-- <%-page.content%> -->
    <div uk-grid>
      <div>
        <h4 class="uk-margin-remove uk-text-bold"><b>PERSONAL</b></h4>
        <h4 class="uk-margin-remove">CANVAS AGENCY</h4>
        <h4 class="uk-margin-remove">LUIS CAMACHO</h4>
        <h4 class="uk-margin-remove">(044) 55 19554268</h4>
        <h4 class="uk-margin-remove">LUIS@CANVASAGENCY.MX</h4>
      </div>
      <div>
        <h4 class="uk-margin-remove uk-text-bold"><b>MEDIOS & BOOKING</b></h4>
        <h4 class="uk-margin-remove">CANVAS AGENCY</h4>
        <h4 class="uk-margin-remove">DAVID URAGA</h4>
        <h4 class="uk-margin-remove">(044) 55 40889727</h4>
        <h4 class="uk-margin-remove">DAVID.URAGA@CANVASAGENCY.MX</h4>
      </div>
    </div>
    <div uk-grid>
      <div>
        <img src="../img/logo_wksc.png" />
        <img src="../img/logo_jes.png" />
        <img src="../img/logo_jes.png" />
        <img src="../img/logo_te_lo_resuelvo.png" />
        <img src="../img/logo_polychord.png" />
        <img src="../img/logo_bit.png" />
      </div>
    </div>
  </div>
  <div class="page-content uk-margin-xlarge uk-position-bottom-center uk-hidden@m">
    <!-- <%-page.content%> -->
  </div>
</div>
