<div class="uk-background-cover uk-light uk-flex" uk-height-viewport style="background-image: url('<%=page.backgroundImage%>');">
  <h3 class="page-title uk-position-large uk-position-top-left uk-text-lowercase uk-visible@m"><%=page.title%></h3>
  <h3 class="uk-position-medium uk-position-top-right uk-text-lowercase uk-hidden@m" style="margin: 24px;"><%=page.title%></h3>
  <img class="uk-width-1-3@s uk-position-medium uk-position-top-center uk-visible@m" src="../img/inline_logo.png"/>
  <div class="page-content uk-position-medium uk-position-bottom-center uk-visible@m">
      <%-page.content%>
  </div>
  <div class="page-content uk-margin-xlarge uk-position-bottom-center uk-hidden@m">
      <%-page.content%>
  </div>
</div>
